.about-container {
    justify-content: center;
}

.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.bio {
    max-width: 900px;
    text-align: center;
}