/* Contact.css */
.ContactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
}

.formRow {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.col-6 {
  width: calc(50% - 20px);
  max-width: 600px;
  padding: 5px;
}

.col-6:last-child {
  margin-right: 0;
}

.col-4 {
    width: 100%;
    padding: 5px;
}

.col-12 {
    width: 100%;
    padding: 5px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formInput::placeholder {
    font-family: inherit !important;
    font-size: inherit !important;
    opacity: 0.7;
  }

.submit-btn {
  background-color: cornflowerblue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
  margin-top: 20px;
  margin-left: 15px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

/* Adjust the form layout for smaller screens */
@media (max-width: 768px) {
  .formRow {
    display: block;
    flex-direction: column;
  }

  .col-4 {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}