header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 60px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 30px;
  padding-left: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  padding-right: 30px;
}

li {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

a {
  text-decoration: none;
}