.section-container {
  margin: 50px 30px 30px 30px;
  width: 95%;
}
.work-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0px 20px;
  border-radius: 5px;
}

.flex-item {
  text-decoration: none;
  color: var(--primary);
  min-height: 360px;
  flex-basis: 45%;
  object-fit: contain;
  border-radius: 8px;
}

.flex-item div {
  background-color: cornflowerblue;
  color: lightgoldenrodyellow;
  max-width: 220px;
  margin-top: 100%;
  border-radius: 5px;
  padding: 1px;
}

.work-container:hover {
  opacity: 50%;
  text-decoration: none;
  color: slategray;
}

/* #work-day-scheduler {
  background-image: url('../assets/images/work/TimelyScreenshot.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#biwoc-health {
  background-image: url('../assets/images/work/BIWOCScreenshot.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#rebound {
  background-image: url('../assets/images/work/ReboundScreenshot.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#team-profile-generator {
  background-image: url('../assets/images/work/TeamProfileGeneratorScreenshot.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
} */